//trieu-custom
.content-wrapper-custom {
    width: 100%;
    min-height: 1050px;
    // overflow-x: hidden;
    // overflow-y: auto;
}

.overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 888888;
}

.video-custom {
    background: #000;
    border-radius: 15px;
    width: 100%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

@media only screen and (max-width: 600px) {
    .video-custom {
        background: #000;
        border-radius: 15px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        /* Safari and Chrome */
        -moz-transform: rotateY(180deg);
        /* Firefox */
    }
}

@media only screen and (max-width: 400px) {
    .result-box-image {
        justify-content: left !important;
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
        width: 400px !important;
    }

    .result-box-image .box-container-result img {
        height: 70% !important;
    }
}

.img-face-custom {
    width: 100%;
    height: auto;
    margin: auto;
    max-height: 400px;
    position: relative;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

.indexedStep {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexedStep.accomplished {
    background-color: rgba(0, 116, 217, 1);
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.score-res {
    margin-top: 100px;
    font-weight: bold;
    font-size: 30px;
    color: red;
    text-align: center;
}

.loading-custom {
    position: fixed;
    background: #fff;
    border-radius: 10px;
    width: 300px;
    height: 220px;
    /* display: flex; */
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    border: 1px solid #ccc;
    top: 40%;

    p {
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

#blueEllipse {
    transform-origin: center;
    animation: rotateBlue 1.5s linear infinite;
}

@keyframes rotateBlue {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.8;
    }
}

#successEllipse {
    transform-origin: center;
    animation: rotateSuccess 1.5s linear infinite;
}

@keyframes rotateSuccess {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.02, 1.02);
    }

    100% {
        transform: scale(1, 1);
    }
}

.custom-toogle {
    font-size: 18px;
}

.canvas-generic {
    width: 80%;
    height: 210px;
    border-radius: 10px;
}

.canvas-mirror {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

.box-3d-custom {
    position: absolute;
    top: 55px;
    right: -90px;
}

.big-layout-ekyc {
    position: fixed;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    cursor: pointer;

    .MuiCardHeader-root {
        padding: 0px !important;
    }

    .container-parent {
        position: relative;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .container-child {
        max-width: 850px;
        width: 100%;
        background: #fff;
        border-radius: 8px;
    }
}

//resultBox
.custom-zero-padding {
    padding: 0px !important;
}

.result-box-image {
    display: flex;
    justify-content: center;

    .box-container-result {
        width: 100%;
        height: 300px;
        text-align: center;
        margin: 5px;

        img {
            object-fit: cover;
            width: 95%;
            height: 80%;
            border-radius: 8px;
            border: 1px solid #eee;
        }

        span {
            width: 100%;
            height: 20%;
            font-size: 15px;
            white-space: nowrap;
            line-height: 3;
        }
    }
}

//HV custom
/* for doc instruction screen */
.hv-center-element {
    font-family: 'Be VietNam Pro', sans-serif !important;

    .hv-instructions {
        line-height: 3;
    }
}

// .hv-modal-content {
//     padding: 5px;
// }

#hv-doc-instruction-screen {
    width: 420px;
    height: 477px;
    padding: 24px;
}

#hv-doc-instruction-screen .hv-close-button {
    float: right;
}

#hv-doc-instruction-screen .hv-title {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
}

#hv-doc-instruction-screen .hv-instruction-div [class|='hv-instruction-small-div'] {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: initial;
    margin-bottom: 26px;
}

#hv-doc-instruction-screen .hv-proceed-btn {
    background-color: #ffc20e;
    width: 372px;
    max-width: initial;
    height: 48px;
    border-radius: 40px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

#hv-doc-instruction-screen .hv-instruction-div {
    height: 80%;
    margin-top: 28px;
}

#hv-doc-instruction-screen .hv-instruction-div .hv-instruction-small-div-right {
    display: flex;
    flex-direction: row-reverse;
    height: initial;
    justify-content: flex-end;
}

#hv-doc-instruction-screen .hv-instruction-div img[class|='hv-instruction-img'] {
    width: 100px;
    height: 70px;
}

#hv-doc-instruction-screen .hv-instruction-div .hv-instruction-tick {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 85px;
    top: 55px;
}

.hv-instruction-div .hv-instruction-doc-text {
    margin-left: 28px;
    font-weight: 600;
    font-size: 16px;
}

/* to customize capture screen */

#hv-doc-capture-screen {
    padding: 24px;
    // width: 500px;
    height: 578px;
}

#hv-doc-capture-screen .hv-close-button {
    float: right;
}

#hv-doc-capture-screen .hv-title {
    font-weight: 600;
    font-size: 20px;
}

#hv-doc-capture-screen .hv-instructions {
    display: block;
    line-height: 3;
}

#hv-doc-capture-screen .hv-bottom-instructions {
    font-weight: 600;
    font-size: 14px;
    margin-top: 24px;
}

/* face capture instructions page styles */
/* TODO : design will change,
     1. button
     2. image size
     3. margins
  */

#hv-face-instruction-screen {
    width: 420px;
    height: 477px;
    padding: 24px;
}

#hv-face-instruction-screen .hv-close-button {
    float: right;
}

#hv-face-instruction-screen .hv-title {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
}

#hv-face-instruction-screen .hv-instruction-small-div-face-text {
    display: none;
}

#hv-face-instruction-screen .hv-instruction-selfie img {
    width: 237px;
    height: 173px;
}

#hv-face-instruction-screen .hv-instruction-div .hv-instruction-props {
    margin-top: 42px;
}

/* face capture page styles */
#hv-face-capture-screen {
    padding: 24px;
    width: 500px;
    height: 578px;
}

#hv-face-capture-screen .hv-close-button {
    float: right;
}

#hv-face-capture-screen .hv-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 32px;
}

#hv-face-capture-screen .hv-instructions {
    display: none;
}

#hv-face-capture-screen .hv-bottom-instructions {
    font-weight: 600;
    font-size: 14px;
    margin-top: 24px;
}

.hypervergebtn {
    height: 6vh !important;
}

.hv-modal-content {
    max-height: 600px !important;
}

.hv-use-this-photo-btn {
    background-color: #ffc20e !important;
}

#hv-cameraholder {
    video {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        /* Safari and Chrome */
        -moz-transform: rotateY(180deg);
        /* Firefox */
    }
}

@media only screen and (max-width: 600px) {
    #hv-cameraholder {
        video {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            /* Safari and Chrome */
            -moz-transform: rotateY(180deg);
            /* Firefox */
        }
    }
}
